<h1> <%= BbdemoController.endpoint_title %></h1>

<h2><u> Patient ID: <%= session[:bb_patient_id] %></u></h2>

<h3><%= link_to 'Click to return to the endpoints page.',  bluebutton_endpoints_path %></h3>
