<h1>Bluebutton Ruby On Rails DEMO </h1>

<h2>Authorize This Application </h2>

<h3>The following link will take you to the MyMedicare site for your to login and authorize this application to access your data.</h3>

<h2><%= link_to 'Click here to authorize!',  @bluebutton_oauth_service.get_authorize_url %></h2>
