<h1>FHIR Metadata RESULTS </h1>

<h2><u> Patient ID: <%= session[:bb_patient_id] %></u></h2>

<h3><%= link_to 'Click to return to the endpoints page.',  bluebutton_endpoints_path %></h3>

<h2>JSON Results:</h2>
<% if !@bb_response.blank? %>
   <pre><%= JSON.pretty_generate(@bb_response) %></pre>
<% end %>
